.header {
	@include content-container;
	
	position: absolute;
	background-color: transparent;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	z-index: 1;

	// This centering junk is necessary because of position absolute
	left: 0; 
  right: 0;

	&__title {
		margin: 0;
		font-weight: 500;
		color: white;
		text-decoration: none;
	}
}