// Colors
$dark-grey: #333333;
$blue: #1c88bf;
$dark-blue: #364051;
$my-grey: #888888;
$grey: #666;
$off-white: #f7f7f7;
$light-grey: rgb(246, 249, 252);
$light-green: rgb(62, 207, 142);

// Font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$splash-height: 60rem;
$wave-height-mobile: 7.5rem;
$wave-height-desktop: 15rem;
$desktop-breakpoint: 45rem;
$default-padding: 5rem;